#head1{
    color: white;
  text-align: center;
  margin-top: 2%;
  font-family: 'Alegreya', serif;

}
body{
    color: white;
   background-image: url("awardss.jpg");
  
  background-repeat: no-repeat,repeat;
  height: 500px;
  background-position: center;
  background-size: cover;
}
.container{
    color: white;
  margin-top: 5%;
  font-style: oblique;
}
/* #text{
  color: black;
} */
.table.table-bordered{
      color: white;
    border:1px solid white;
    margin-top:40px;
  }
.table.table-bordered > thead > tr > th{
      color: white;
    border:1px solid white;
}
.table.table-bordered > tbody > tr > td{
      color: white;
    border:1px solid white;
}
#edit{
    color:white;
}
