#head1{
  text-align: center;
  margin-top: 2%;
  font-family: 'Alegreya', serif;
  color: black;

}
body{
  /* background-image: url("awardsbag_img.jpg"); */
  background-repeat: no-repeat,repeat;
  height: 800px;
  background-position: center;
  background-size: cover;
}
#tabl{
  align:center;
}
