#contact{
  color: red;
  font-size: 1.5em;
}
html{
   
  background: url("_con.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
#con{
  text-align: center;
  font-family: 'Alegreya', serif;
  margin-top:2%;
}

