.ed {
  
/*   background-image: url("degree.jpg"); */
  border: solid black 1px;
/*   text-align: center; */
/*   margin-top: 2%; */
/*   background-repeat: no-repeat,repeat; */
/*   height: 100%; */
  
/*   background-position: center; */
/*   background-size: cover; */
}
  
#head{
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  margin-top: 2%;
  border: solid black 1px;
  font-family: 'Alegreya', serif;
}

#ee{
/*  
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  margin-top: 2%; */
/*   border-style: solid; */
/*   border: solid black 5px; */
    margin-top:2%;
/*   margin-bottom:30%; */
/*   width:90%; */
/*   padding-right:8%; */
/*   padding-left:8%;  */
} */

#row{
  padding-top:2%;
  padding-bottom:8%;
}
