#head{
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  margin-top: 2%;
  border: solid black 1px;
  font-family: 'Alegreya', serif;
}

#ee{
    margin-top:2%;
}
.table{
 text-align:center;
 border: solid black 2px;
 font-size: 1.5em;
 width: 70%;
}


#row{
  padding-top:2%;
  padding-bottom:8%;
}
