.table{
  text-align:center;
  border: solid black 2px;
  font-size: 1.5em;
  width: 70%;
}
#head{
  text-align: center;
  font-family: 'Alegreya', serif;
  font-color:black;
}
body{
   
  background: url("acc.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
