.table{
  text-align:center;
  border: solid black 2px;
  font-size: 1.5em;
  width: 70%;
}
#head{
text-align: center;
  margin-top: 2%;
  font-family: 'Alegreya', serif;
  color: black ;
  border: solid 1px; 
  margin-left:20%;
  margin-right:20%;
}
body{
   
  background: url("acc.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
