#heads{
  font-family: 'Source Serif Pro', serif;
  text-align: center;
  margin-top: 2%;
  border-style: solid;
  font-family: 'Alegreya', serif;
}
#bod{
  border-style: solid;
  background-image: url("teaching.jpg");
  background-repeat: no-repeat,repeat;
padding-left: 2%;
padding-top: 2%;
padding-bottom: 2%;
}
